{% load static %}

<div class="notification-info">
    <div class="notification-user-photo w-100">
        {% if notification.receiver.photo %}
            <img id="user-photo" src="{{ notification.receiver.photo.url }}" alt="{{ notification.receiver.photo.name }}">
        {% else %}
            <img id="user-photo" src="{% static 'base/img/profile-photo.jpg' %}" alt="Sem foto de perfil">
        {% endif %}
    </div>
    <div class="notification-status w-100">
        {% if is_group %}
            <small><span id="grupo-{{notification.grupo}}-{{notification.id}}-status">{{ notification.get_status_display }}</span></small>
        {% else %}
            <small><span id="amizade-{{notification.id}}-status">{{ notification.get_status_display }}</span></small>
        {% endif %}
    </div>
    <div class="notification-username">
        <strong class="mb-1">{{ notification.receiver.username }}</strong>
    </div>
    <div class="notification-user-email">
        <small>{{ notification.receiver.email }}</small>
    </div>
    <div class="notification-date">
        <small>{{notification.date}}</small>
    </div>
    <div class="notification-btns">
        {% if is_group %}
            <button type="button" class="btn btn-outline-secondary rounded-pill btn-sm" data-bs-toggle="collapse" data-bs-target="#grupo{{notification.group}}" role="button" aria-expanded="false" aria-controls="grupo{{notification.group}}">
                Grupo
            </button>
        {% else %}
            <button type="button" class="btn btn-outline-secondary rounded-pill btn-sm" style="visibility: hidden;">
                Grupo
            </button>
        {% endif %}
    </div>
</div>
{% if is_group %}
    <div class="collapse grupo-info" id="grupo{{notification.group}}">
        <p>Grupo: {{notification.group}} </p>
        <p>Descrição: ...</p>
        <p>Membros: ...</p>
    </div>
{% endif %}
<hr>