
html, body {
  height: 100%;
}

.errorlist {
  color: rgba(255, 0, 0, 0.541);
}

.navbar a {
  color: white;
}

.language-change-btn {
  display: flex!important;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.btn-language-change-container {
  border: 1px solid var(--bs-light-text-emphasis);
}

.theme-change-icon {
  filter: hue-rotate(200deg);
}

.nav-emojis {
  font-size: medium;
}

.emoji-list {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 5px;
}

.emoji-icon {
  padding: 5px;
  text-align: center;
  user-select: none;
}

.emoji-icon:hover {
  background-color: var(--bs-body-color);
  cursor: pointer;
}

.tab-content {
  font-size: 25px;
  overflow-y: scroll;
  max-height: 250px;
  overflow-x: hidden;
}

.no-italic {
  font-style: normal!important;
  display: initial!important;
}

/* desktop */

.nav-link-active {
  color: RGBA(var(--bs-secondary-rgb),1)!important;
  -webkit-text-decoration-color: RGBA(var(--bs-secondary-rgb),1)!important;
  text-decoration-color: RGBA(var(--bs-secondary-rgb),1)!important;
  text-decoration: underline!important;
  text-decoration-skip-ink: auto;
}

.nav-link-active:hover {
  cursor:default;
}

.nav-link:hover {
  text-decoration: underline!important;
  text-decoration-skip-ink: auto;
}

.nav-bar-icon {
  margin-right: 6px!important;
}

.emoji-nav-link:hover {
  text-decoration: none!important;
  text-decoration-skip-ink: auto;
}

#telezap-logo {
  width: 50;
  height: 50;
  margin-right: 10px;
  margin-left: 10px;
}

#telezap-auth-btns {
  margin-right: 10px;
}

#language-change-btn {
  position: fixed;
  bottom: 0;
  right: 0; 
  margin-bottom: 0.5rem; 
  margin-right: 0.5rem;
  z-index: 100;
}

.badge-sm {
  font-size: 0.7rem;
  padding: 0.15rem 0.5rem;
}
.badge-lg {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}

.nav-link {
  padding: 5px 16px !important;
}

/* CSS para fazer o texto piscar */
@keyframes blinking {
  0% { color: var(--bs-nav-link-color); } /* Primeira cor (vermelho) */
  50% { color: greenyellow } /* Segunda cor (verde) */
  100% { color: green; } /* Volta para a primeira cor (vermelho) */
}

.blinking-text {
  animation: blinking 1s infinite; /* Aplica a animação "blinking" infinitamente */
}

.online-status {
  border: 2px solid green;
}

.offline-status {
  border: 2px solid red;
}

.nobody-status {
  border: 2px solid black;
}


/* mobile */
@media (max-width: 768px) {
  #telezap-logo {
    width: 40;
    height: 40;
    margin-right: 10px;
  }

  #telezap-auth-btns {
    margin-right: 0px;
  }

  .nav-emojis {
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    user-select: none;
  }

  .emoji-list {
    grid-template-columns: repeat(6, 1fr);
  }

  .emoji-icon {
    font-size: 1em;
  }

  #language-change-btn {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0.5rem; 
    margin-left: 0.5rem;
    z-index: 100;
    width: 70px;
    height: 40px;
  }

  .navbar {
    font-size: 15px;
  }

  .nav-link {
    padding: 10px 8px !important;
  }

}