
html, body {
  height: 100%;
}

.errorlist {
  color: rgba(255, 0, 0, 0.541);
}

.theme-change-btn {
  display: flex!important;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.btn-theme-change-container {
  border: 1px solid var(--bs-light-text-emphasis);
}

.theme-change-icon {
  filter: hue-rotate(200deg);
}

.emoji-icon {
  font-size: 1.5em;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.emoji-icon:hover {
  cursor: pointer;
  background-color: rgba(var(--bs-body-color-rgb),.65);
}

.tab-content {
  font-size: 25px;
  overflow-y: scroll;
  max-height: 250px;
  overflow-x: hidden;
}

/* desktop */

.nav-link-active {
  color: RGBA(var(--bs-secondary-rgb),1)!important;
  -webkit-text-decoration-color: RGBA(var(--bs-secondary-rgb),1)!important;
  text-decoration-color: RGBA(var(--bs-secondary-rgb),1)!important;
  text-decoration: underline!important;
}

.nav-link-active:hover {
  cursor:default;
}

.nav-link:hover {
  text-decoration: underline!important;
}

.nav-bar-icon {
  margin-right: 6px!important;
}

.emoji-nav-link:hover {
  text-decoration: none!important;
}

#telezap-logo {
  width: 50;
  height: 50;
  margin-right: 10px;
  margin-left: 10px;
}

#telezap-auth-btns {
  margin-right: 10px;
}

#theme-change-btn {
  position: fixed;
  bottom: 0;
  right: 0; 
  margin-bottom: 1rem; 
  margin-right: 1rem;
  z-index: 100;
}

.badge-sm {
  font-size: 0.7rem;
  padding: 0.15rem 0.5rem;
}
.badge-lg {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}

.nav-link {
  padding: 5px 16px !important;
}

/* CSS para fazer o texto piscar */
@keyframes blinking {
  0% { color: var(--bs-nav-link-color); } /* Primeira cor (vermelho) */
  50% { color: greenyellow } /* Segunda cor (verde) */
  100% { color: green; } /* Volta para a primeira cor (vermelho) */
}

.blinking-text {
  animation: blinking 1s infinite; /* Aplica a animação "blinking" infinitamente */
}


/* mobile */
@media (max-width: 768px) {
  #telezap-logo {
    width: 40;
    height: 40;
    margin-right: 10px;
  }

  #telezap-auth-btns {
    margin-right: 0px;
  }

  .nav-emojis {
    font-size: x-small!important;
    display: flex!important;
    flex-direction: row!important;
    align-items: center!important;
    flex-wrap: nowrap!important;
  }

  .emoji-list {
    text-align: center;
    padding-right: 5px;
  }

  .emoji-icon {
    width: 20px!important;
    height: 20px!important;
    font-size: 1.5em;
    padding: 5px;
  }

  #theme-change-btn {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 1rem; 
    margin-left: 1rem;
    z-index: 100;
    width: 75px;
    height: 42px;
  }

  .navbar {
    font-size: 15px;
  }

  .nav-link {
    padding: 10px 8px !important;
  }

}